@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab|Source+Sans+Pro:400,400i");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: url("https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  background-size: cover;
}

header .navbar {
  width: 80%;
  margin: 0 auto;
}

header .logo {
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  color: #fed136;
}

header li {
  font-size: 14px;
}

header a {
  margin: 0 5px;
  font-size: 20px;
  color: white;
}

header a:hover {
  transition: color .5s ease;
  color: #fed136;
  text-decoration: none;
}

.jumbo {
  text-align: center;
  height: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbo h1 {
  font-size: 40px;
  font-style: italic;
  color: #fed136;
}

.jumbo h2 {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.jumbo button {
  background-color: white;
  width: 240px;
  border-color: white;
  color: #fed136;
  font-weight: bold;
}

.jumbo button:hover {
  transform: scale(1.2);
  transition: transform .5s ease-in-out;
  background-color: #fed136;
  color: white;
  border-color: #fed136;
}

.servis {
  text-align: center;
}

.servis h2 {
  padding-top: 100px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.servis h3 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
}

.servis p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 75%;
  margin: 20px auto;
  padding-bottom: 50px;
  color: #777;
}

.servis i {
  width: 90px;
  height: 90px;
  border: 3px solid #fed136;
  border-radius: 50%;
  font-size: 50px;
  color: #fed136;
  margin-bottom: 20px;
}

.servis .fas {
  line-height: 75px;
  text-align: center;
}

.portfolio {
  background-color: #e6e3e3;
}

.portfolio .container {
  padding-bottom: 100px;
}

.portfolio h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.portfolio .col-md-4, .portfolio .col-sm-12, .portfolio .col-lg-4 {
  text-align: center;
}

.portfolio p {
  color: #5e5e5e;
  text-align: center;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

.portfolio h3 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.portfolio img {
  padding-top: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80%;
}

.portfolio .port-desc {
  background-color: white;
}

.about {
  padding-bottom: 50px;
}

.about img {
  border: 5px solid #c9c3c3;
  border-radius: 50%;
  margin-bottom: 65px;
  width: 200px;
  height: 200px;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.about h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 100px;
}

.about p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  padding-bottom: 70px;
}

.about .right {
  padding-top: 20px;
}

.about .right h3 {
  font-size: 18px;
  font-weight: bold;
  color: #272626;
  text-transform: uppercase;
  text-align: right;
}

.about .right p {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #757575;
  text-align: right;
}

.about .left {
  padding-top: 20px;
}

.about .left h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  text-align: left;
  padding-left: 50px;
}

.about .left p {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #757575;
  text-align: left;
  padding-left: 50px;
}

.about .cont {
  text-align: center;
}

.about .continued {
  margin-left: 100px;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-color: #fed136;
  margin-left: 30%;
  border: 5px solid #c9c3c3;
}

.about .continued p {
  border-radius: 50%;
  padding-top: 55px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.people {
  background-color: #f9f9f9;
}

.people h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 100px;
}

.people p {
  color: #777;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  padding-bottom: 40px;
}

.people .team {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url("http://placehold.it/250x250");
  margin: 0 auto;
}

.people h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}

.people .icons {
  text-align: center;
  padding-bottom: 50px;
}

.people .icons i {
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px;
}

.people .icons .fa-google-plus-g:before {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.logos {
  padding: 60px 0;
  text-align: center;
}

.contact {
  padding: 100px 10px;
  background-color: #222;
  text-align: center;
  color: #cecccc;
}

.contact p {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c5959;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.form-control {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  margin-left: 10px;
}

button {
  background-color: white;
  width: 240px;
  border-color: white;
  color: #fed136;
  font-weight: bold;
}

button:hover {
  transform: scale(1.2);
  transition: transform .5s ease-in-out;
  background-color: #fed136;
  color: white;
  border-color: #fed136;
}

:-ms-input-placeholder {
  color: #b8b3b3;
}

::placeholder {
  color: #b8b3b3;
}

footer {
  padding: 30px 0;
  display: -ms-flexbox;
  display: flex;
}

footer p {
  font-size: 14px;
  color: #555;
  padding-top: 10px;
}

footer .social {
  text-align: center;
  /*  */
}

footer .social i {
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 24px;
  border: 2px solid #4b4949;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
  background-color: black;
}

footer .social i:hover {
  background-color: #fed136;
  border: 1px solid #fed136;
  color: black;
}

@media (max-width: 992px) {
  .about {
    text-align: center;
  }
  .about .cont {
    text-align: center;
  }
  .about .left h3 {
    text-align: center;
    padding-left: 0;
  }
  .about .left p {
    text-align: center;
    padding-left: 0;
    padding-bottom: 50px;
  }
  .about .right h3 {
    text-align: center;
  }
  .about .right p {
    text-align: center;
  }
  .logos {
    text-align: center;
  }
  .logos img {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  header .navbar {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  header ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .jumbo h2 {
    font-size: 50px;
  }
  .about {
    text-align: center;
  }
  .about .cont {
    text-align: center;
  }
  .about img {
    display: none;
  }
  .about .left p {
    text-align: center;
  }
  .about .left h3 {
    text-align: center;
  }
  .about .right p {
    text-align: center;
  }
  .about .right h3 {
    text-align: center;
  }
  .logos {
    text-align: center;
  }
  .logos img {
    padding: 25px 0;
  }
  .contact textarea {
    margin: 0 auto;
  }
  footer p {
    text-align: center;
  }
  footer .social i {
    margin: 0 10px;
  }
}